<DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
   <div class="container">
   <style>
     h2 {
       padding-top: 35px;
       padding-bottom: 35px;
     }
     </style>
    <title>Coronavirus Tracker</title>
    <h2>This application lists all confirmed coronavirus cases</h1>

<div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}"></h1>
  <p class="lead">Total number of cases as of today</p>
  <hr class="my-4">
   <p>
    <span>New cases reported since yesterday:</span>
    <span th:text="${totalNewCases}"></span>
   </p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="https://github.com/CSSEGISandData/COVID-19" role="button">Based on Johns Hopkins data repository</a>
</div>
 <input id="Click me" type="button" value="clickme" onclick="CoronaVirusDataService.swapSort();" />
        <table class="table">
          <tr>
            <th>Country</th>
            <th>State</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
            <th>% Changes since last day</th>
            <th>Total deaths reported</th>

          </tr>
          <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
            <td th:text="${locationStat.diffFromPrevDayPercentage}">0</td>
            <td th:text="${locationStat.latestTotalDeaths}">0</td>
          </tr>
        </table>
       </div>

  </body>

</html>